body {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(page.gif);
    background-repeat: repeat;
    background-position: top left;
}
h1, h2, h3, h4, h5, h6, a, p{
    color: white;
    font-family:Bahnschrift,BackupBHS1,BackupBH2;
    font-weight: 500;
}
.greenroomjoke {
    background-image: url(box.png);
    background-position: center;
    background-repeat:no-repeat;
    margin: auto;
    width: 570px;
    height: 167px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    margin-top:700px;
    margin-bottom: 400px;
}
/*BOX STARTS HERE*/
.box {
    background: black;
    margin: auto;
    width: 60%;
    border: 3px solid white;
    padding: 10px;
    margin-top: 40px;
    padding-left:20px;
    padding-right:20px;
}
.box h1, .box h2, .box h3, .box h4, .box h5, .box h6, .box a , .box audio,.box source{
        text-align: left;
            text-decoration: none;
            font-family:DTMsans;
            font-size: medium;
            font-weight:lighter
    }

.box h3 {
    opacity: 0.6;
    color:purple;
}
.box h2 {
    opacity: 1;
    color: mediumpurple;
}
.thingspace{
            margin-bottom:-10px;
}
/*BOX ENDS HERE*/ 

.about h2:hover {
    opacity: 0.6;
}

/*INTEREST THING STARTS HERE */
.fuck:hover{
    color: yellow;
}
.fuck{
    color: lightgreen;
}
#sel{
    width: 0px;
}
#opti:hover > #sel{
width:13px;
}
/*INTERESTS THING ENDS HERE*/

/*LIVETILE STARTS HERE*/
.livetile {
    background: #000000;
    margin-left: 9px;
    margin-right: 9px;
    width: 120px;
    height: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: relative;
    text-decoration: none;

}
.livetile:hover{
border: solid;
border-color: rgba(255, 255, 255, 0.50);
border-width: 2px;
    width: 116px;
    height: 116px;
}
.container {
    display: flex;
    margin: auto;
  }
  .container_text {
    display: flex;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between; 
    padding-left: 50px 10;
  }
.leftdiv{
    margin-left: auto;
}
.rightdiv{
    margin-right: auto;
}
.livetile img {
    display: block;
    margin: 0 auto; 
}

.livetile h4 {
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
    margin: 0;
    font-family: 'Segoe UI',BackupSGUI1,BackupSGUI2 ;
    text-decoration: none;
    font-weight: lighter;
} 
/*LIVETILE ENDS HERE*/


/*HERE IS THE START FOR THE NAVBAR*/
.hyprlnk {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    padding: 3px 0;
}
.idontknow{
    overflow: hidden;
    background-color: rgba(0, 0, 0);
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 0 16px;
    margin: -10px;

}
    .hyprlnk a {
        color: rgb(167, 167, 167);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        transition: background-color 0.2s, color 0.3s;
    }

        .hyprlnk a:hover {
            background-color: rgba(221, 221, 221, 0.5);
            color: rgba(0,0,0,1);
            border-radius: 0;
        }

        .hyprlnk a.active {
            color: rgba(255,255,255,1);
            font-size: larger;
            font-weight: bolder;
        }
/*END OF NAVBAR*/

        @font-face { font-family: BackupBHS1; src: url('BAHNSCHRIFT.otf'); } 
        @font-face { font-family: BackupBHS2; src: url('BAHNSCHRIFT.woff'); } 
        @font-face { font-family: BackupSGUI1; src: url('Segoe UI.otf'); }  
        @font-face { font-family: BackupSGUI2; src: url('Segoe UI.woff'); } 
        @font-face { font-family: DTMsans; src: url('font.woff2'); }  