.artblock{
    border: solid;
    border-color: white;
    background-color: black;
    width: 200px;
}
.links{
        padding-left: 15px;
        padding-right: 15px;

        display: flex;
    justify-content: center;
    gap: 20px;
}
.center{
    padding-top: 15px;
    display: flex;
    justify-content: center;
            padding-bottom: 15px;
}