.greenroomjoke {
    background-image: url(box.png);
    background-position: center;
    background-repeat:no-repeat;
    margin: auto;
    width: 570px;
    height: 167px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    margin-top:700px;
    margin-bottom: 400px;
}
/*BOX STARTS HERE*/
.box {
    background: black;
    margin: auto;
    width: 60%;
    border: 3px solid white;
    padding: 10px;
    margin-top: 40px;
    padding-left:20px;
    padding-right:20px;
}
.box h1, .box h2, .box h3, .box h4, .box h5, .box h6, .box a , .box audio,.box source{
        text-align: left;
            text-decoration: none;
            font-family:DTMsans;
            font-size: medium;
            font-weight:lighter
    }

.box h3 {
    opacity: 0.6;
    color:purple;
}
.box h2 {
    opacity: 1;
    color: mediumpurple;
}
.thingspace{
            margin-bottom:-10px;
}
/*BOX ENDS HERE*/ 

.about h2:hover {
    opacity: 0.6;
}

/*INTEREST THING STARTS HERE */
.fuck:hover{
    color: yellow;
}
.fuck{
    color: lightgreen;
}
#sel{
    width: 0px;
}
#opti:hover > #sel{
width:13px;
}
/*INTERESTS THING ENDS HERE*/

/*LIVETILE STARTS HERE*/
.livetile {
    background: #000000;
    margin-left: 0;
    margin-right: 10px;
    width: 120px;
    height: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: relative;
    text-decoration: none;

}
.livetile:hover{
border: solid;
border-color: rgba(255, 255, 255, 0.50);
border-width: 2px;
    width: 116px;
    height: 116px;
}
.container {
    display: flex;
    margin: auto;
  }
  .container_text {
    display: flex;
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between; 
    padding-left: 50px 10;
  }
.leftdiv{
    margin-left: auto;
}
.rightdiv{
    margin-right: auto;
}
.livetile img {
    display: block;
    margin: 0 auto; 
}

.livetile h4 {
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
    margin: 0;
    font-family: 'Segoe UI',BackupSGUI1,BackupSGUI2 ;
    text-decoration: none;
    font-weight: lighter;
} 
/*LIVETILE ENDS HERE*/
        @font-face { font-family: deltarune; src: url('deltarune.woff2');};